<h1>Créer Réservation</h1>

<form method="POST" action="/reservations">

<label>Catway</label>
<input type="number" name="catwayNumber">

<br><br>

<label>Client</label>
<input type="text" name="clientName">

<br><br>

<label>Bateau</label>
<input type="text" name="boatName">

<br><br>

<label>Date début</label>
<input type="date" name="startDate">

<br><br>

<label>Date fin</label>
<input type="date" name="endDate">

<br><br>

<button type="submit">Créer</button>

</form>